body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('css/backgrpund.jpg'); 
  background-size: cover; /* Масштабирует изображение на весь фон */
  background-position: center; /* Центрирует изображение */
  background-attachment: fixed; /* Закрепляет фон при прокрутке */
}

header {
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон для шапки */
}


